body{
    font-family: 'poppins', sans-serif;
    background-color:#ccd1dd ;
}
.small-container{
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 2.5px solid gold;
    border-radius: 20px;
    /* padding-left: 100px;
    padding-right: 100px; */
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-content: space-around; */
}
.single-product{
    margin-top: 30px;
}
.single-product .product1 img{
    border-radius: 5px;
}
.small-img-row{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-around; */
}
.small-img-row img{
    width: 100px;
    border-radius: 5px;
}
.single-product .product1{
    padding: 10px;
}
#a{
    outline: none;
    border: none;
    width: 300px;
    font-size: 20px;
    color: #fff;
    background: #3182d1;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    display: block;
    margin:  0 auto;
}
#a:hover{
    background-color: #5291cf;
}
